<div>
  <div>
    <h1>
      Delivery #<%= @the_delivery.id %> details
    </h1>

    <div>
      <div>
        <a href="/deliveries">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_delivery/<%= @the_delivery.id %>">
          Delete delivery
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_delivery.description %>
      </dd>

      <dt>
        Arrival date
      </dt>
      <dd>
        <%= @the_delivery.arrival_date %>
      </dd>

      <dt>
        Details
      </dt>
      <dd>
        <%= @the_delivery.details %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_delivery.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_delivery.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_delivery.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit delivery
    </h2>

    <form action="/modify_delivery/<%= @the_delivery.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_delivery.description %>">
      </div>

      <div>
        <label for="arrival_date_box">
          Arrival date
        </label>

        <input type="datetime-local" id="arrival_date_box" name="query_arrival_date"
         value="<%= @the_delivery.arrival_date %>">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

        <textarea id="details_box" name="query_details"><%= @the_delivery.details %></textarea>
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_delivery.owner_id %>">
      </div>

      <button>
        Update delivery
      </button>
    </form>
  </div>
</div>

<hr>
